<div class="excalidraw-container">
  {{#if this.isLoadingReact}}
    <div class="spinner"></div>
  {{else}}
    <div class="excalidraw-toolbar-container">
      {{#if this.postModel.can_edit}}
        {{#unless this.isEditing}}
          {{d-button icon="pencil-alt" action=(action "onEdit")}}
        {{/unless}}
      {{/if}}

      {{d-button
        label="save"
        class="btn-primary"
        action=(action "onSave")
        isLoading=this.isSavingScene
      }}
    </div>
    <div class="excalidraw-canvas-container"></div>
  {{/if}}
</div>